OPENAI_KEY=sk-XXXXXXXX
OPENAI_API_KEY=sk-XXXXXXXX
OPENAI_SECRET_KEY=sk-XXXXXXXX
TEST_OPENAI_SECRET_KEY=sk-XXXXXXXX
OPENAI_ORGANIZATION_ID=org-XXXXXXXX
OPEN_AI_ORGANIZATION_ID=org-XXXXXXXX
ORGANIZATION=org-Microshaoft